.expense-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
  align-items: flex-start;
  
}

.expense-title,
.expense-location {
  display: flex;
  
  justify-content: center;
  color: whitesmoke;
  flex: 1;
  min-width: 500px;
  font-size: 20px;
  align-items: center;
  
}

.expense-amount {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem 1.5rem;
  border-radius: 12px;
}


.expense-title {
    vertical-align: middle;
}