.ex-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: auto auto;
    /* border: 1px solid black; */
}

.ex-title, .ex-location {
    display: flex;
    flex: 1;
    /* border: 1px solid black; */
    font-size: 1.5rem;
    color: blanchedalmond;
    background-color: rgb(5, 2, 24);
    padding-bottom: 16px;
    border-radius: 12px;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    max-width: 50%;
    flex-wrap: wrap;
    
}

.ex-amount {
    /* width: 13%;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 0.5rem;
    border: 2px solid snow;
    border-radius: 12px;
    background-color: rgb(41, 9, 63);
    color: white;
    text-align: center;*/
    box-shadow: 0 0 18px rgb(41, 9, 63); 
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
    margin-left: 0.5rem;
}

.ex-title {
    margin-left: 1rem;
    
    margin-right: 0.5rem;
}