.ex-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #4b4b4b;
    margin: auto auto ;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 95%;
}